
{% for post in posts %}
                <div class="post">
                  <div class="post-video embed-responsive embed-responsive-16by9">
                <img src="{{asset('uploads/'~ post.image)}}" height="180"  class="user_pic rounded img-raised" alt="User">                  </div>
                  <div class="post-header font-alt">
                    <h2 class="post-title"><a href="#"><strong>{{ post.sujet }}</strong></a></h2>
                    <div class="post-meta">By&nbsp;<a href="#"><strong>{{ post.user.nom }}</strong></a>  <strong>{{ post.dateP ? post.dateP|date('Y-m-d H:i:s') : '' }}</strong>  
                    <div style="margin-left:600px;" > 
                                          <form action="{{ path('create_reclamation_forum') }}" method="POST">
            <input type="hidden" name="forum" value="{{ post.id }}">
            <button type="submit" class="btn btn-primary">Create Reclamation</button>
          </form>
                    <a class="btn btn-primary" href="{{ path('app_post_editfront', {'id': post.id}) }}">Edit Post</a> 
                    {{ include('post/_delete_form.html.twig') }}
                    </div>
                    {# <a class="form-group" href="{{ path('app_commentaire_editfront', {'id': var.id}) }}"> <i class="bx bx-edit-alt me-1"></i>edit</a>
                      <a class="btn btn-outline-danger" href="{{ path('app_commentaire_remove', {'id': var.id}) }}"><i class="fa-solid fa-trash"></i></i>Delete</a> #}

                    </div>
                  </div>
                  <div class="post-entry">
                    <h4>Description: </h4>
                    <p><strong>{{ post.description }}</strong></p>
                  </div>
                  <div class="btn btn-default btn-circle" ><a class="Comment"  href="{{ path('app_comment_post', {'id': post.id}) }}">Comment Section</a></div>
                  
                </div>
                {% endfor %}