{% extends 'lazy.html.twig' %}

{% block title %}Edit Commentaire{% endblock %}

{% block body %}
    <h1>Edit Commentaire</h1>

    {# {{ include('commentaire/_form.html.twig', {'button_label': 'Update'}) }} #}

    {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        <form class="forms-sample">


            <div class="form-group">
                {{ form_label(form.descriptionc, 'Description du commentaire', ) }}
                {{ form_widget(form.descriptionc, {'attr': {'class': 'form-control','placeholder': 'descriptionc'}}) }}
                <span class="text-danger" >{{ form_errors(form.descriptionc,{'attr': {'class':'text-danger'}}) }}</span>
            </div>
            <div class="input-group col-md-6 mt-4" >
                <button class="form-control btn btn-primary mr-2">{{ button_label|default('Save') }}</button>

            </div>
            

            {{ form_end(form) }}
        </form>




    <a href="{{ path('app_commentaire_index') }}" style="margin-left:1140px;">back to list</a>

    {# {{ include('commentaire_delete_form/.html.twig') }} #}
{% endblock %}
