{% extends 'front.html.twig' %}


{% block stylesheets %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('../assets/assets/images/favicons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('../assets/assets/images/favicons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('../assets/assets/images/favicons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('../assets/assets/images/favicons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('../assets/assets/images/favicons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('../assets/assets/images/favicons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('../assets/assets/images/favicons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('../assets/assets/images/favicons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('../assets/assets/images/favicons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('../assets/assets/images/favicons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('../assets/assets/images/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('../assets/assets/images/favicons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('../assets/assets/images/favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/assets/images/favicons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <!--  
    Stylesheets
    =============================================
    
    -->
    <!-- Default stylesheets-->
    <link href="{{ asset('../assets/assets/lib/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/animate.css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/components-font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/et-line-font/et-line-font.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/flexslider/flexslider.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/owl.carousel/dist/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/owl.carousel/dist/assets/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/magnific-popup/dist/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ asset('../assets/assets/lib/simple-text-rotator/simpletextrotator.css') }}" rel="stylesheet">
    <!-- Main stylesheet and color file-->
    <link href="{{ asset('../assets/assets/css/style.css') }}" rel="stylesheet">
    <link id="color-scheme" href="{{ asset('../assets/assets/css/colors/default.css') }}" rel="stylesheet">

    {% endblock %}


    {% block body  %}


    <section class="module">
          <div class="container">
            <div class="post">

            
                
{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        <form class="forms-sample">

            <div class="form-group" hidden>
    {{ form_label(form.nomUser, 'nomUser', ) }}
    {{ form_widget(form.nomUser, {'attr': {'class': 'form-control','placeholder': 'nomUser'}}) }}
    <span class="text-danger" >{{ form_errors(form.nomUser,{'attr': {'class':'text-danger'}}) }}</span>
</div>


            <div class="input-group col-md-6 mt-4 mb-4">
                {{ form_label(form.descriptionc, 'Description du commentaire', ) }}
                {{ form_widget(form.descriptionc, {'attr': {'class': 'form-control','placeholder': 'Description du commentaire '}}) }}
                <span class="text-danger" >{{ form_errors(form.descriptionc,{'attr': {'class':'text-danger'}}) }}</span>
            </div>
            <div class="form-group" hidden>
                {{ form_label(form.post, 'post', ) }}
                {{ form_widget(form.post, {'attr': {'class': 'form-control','placeholder': 'post'}}) }}
                <span class="text-danger" >{{ form_errors(form.post,{'attr': {'class':'text-danger'}}) }}</span>
            </div>
            

            
            
            
            <div class="input-group col-md-6 mt-4">
                <button class="form-control btn btn-primary mr-2">{{ button_label|default('Save') }}</button>

            </div>
            

            {{ form_end(form) }}
        </form>
            </div>
        </div>
    </section>



    {% endblock %}








    {% block js  %}
    <script src="{{ asset('../assets/assets/lib/jquery/dist/jquery.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/wow/dist/wow.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/isotope/dist/isotope.pkgd.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/imagesloaded/imagesloaded.pkgd.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/flexslider/jquery.flexslider.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/owl.carousel/dist/owl.carousel.min.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/smoothscroll.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/magnific-popup/dist/jquery.magnific-popup.js')}}"></script>
    <script src="{{ asset('../assets/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js')}}"></script>
    <script src="{{ asset('../assets/assets/js/plugins.js')}}"></script>
    <script src="{{ asset('../assets/assets/js/main.js')}}"></script>

    {% endblock %}