{% extends 'front.html.twig' %}

{% block title %}Echanges{% endblock %}

{% block body %}

    <h1>Mes Echanges</h1>
    <h2>Mes demandes d'Echanges</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Proprio</th>
            <th>Categorie</th>
            <th>Valeur</th>
            <th>Images</th>
            <th>Statut</th>
            <th>Proprio</th>
            <th>Categorie</th>
            <th>Valeur</th>
            <th>Images</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for echange in echanges %}
            <tr>
                <td>{{ echange.Produit.user.name }}</td>
                <td>{{ echange.Produit.categorie }}</td>
                <td>{{ echange.Produit.valeur }}</td>
                <td>
                    <img width="100" height="100" src="{{ asset('uploads/images/') }}{{ echange.Produit.image }}" >
                </td>
                <td>
                    {% if( echange.statut  == "En Attente") %}
                        <button class="btn btn-warning">{{ echange.statut }}</button>
                    {% elseif( echange.statut  == "Approuvée") %}
                        <button class="btn btn-success">{{ echange.statut }}</button>
                    {% else %}
                        <button class="btn btn-danger">{{ echange.statut }}</button>
                    {%  endif%}

                </td>
                <td>{{ echange.produitRequest.user.name }}</td>
                <td>{{ echange.produitRequest.categorie }}</td>
                <td>{{ echange.produitRequest.valeur }}</td>
                <td>
                    <img width="100" height="100" src="{{ asset('uploads/images/') }}{{ echange.produitRequest.image }}" >
                </td>

                <td>

                    {% if( echange.statut  == "En Attente") %}
                        <a href="{{ path('app_echange_edit', {'id': echange.id}) }}" class="btn btn-warning">Edit</a>
                        <form method="post" action="{{ path('app_echange_delete', {'id': echange.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ echange.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    {%  endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Autre Demandes d'Echanges</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Proprio</th>
            <th>Categorie</th>
            <th>Valeur</th>
            <th>Images</th>
            <th>Statut</th>
            <th>Proprio</th>
            <th>Categorie</th>
            <th>Valeur</th>
            <th>Images</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for echangeReq in echangesReq %}
            <tr>
                <td>{{ echangeReq.Produit.user.name }}</td>
                <td>{{ echangeReq.Produit.categorie }}</td>
                <td>{{ echangeReq.Produit.valeur }}</td>
                <td>
                    <img width="100" height="100" src="{{ asset('uploads/images/') }}{{ echangeReq.Produit.image }}" >
                </td>
                <td>
                    {% if( echangeReq.statut  == "En Attente") %}
                        <button class="btn btn-warning">{{ echangeReq.statut }}</button>
                    {% elseif( echangeReq.statut  == "Approuvée") %}
                        <button class="btn btn-success">{{ echangeReq.statut }}</button>
                    {% else %}
                        <button class="btn btn-danger">{{ echangeReq.statut }}</button>
                    {%  endif%}

                </td>
                <td>{{ echangeReq.produitRequest.user.name }}</td>
                <td>{{ echangeReq.produitRequest.categorie }}</td>
                <td>{{ echangeReq.produitRequest.valeur }}</td>
                <td>
                    <img width="100" height="100" src="{{ asset('uploads/images/') }}{{ echangeReq.produitRequest.image }}" >
                </td>

                <td>
                    {% if( echangeReq.statut  == "En Attente") %}
                        <a href="{{ path('app_echange_edit_approuvee', {'id': echangeReq.id}) }}" class="btn btn-success">Approuvée</a>
                        <a href="{{ path('app_echange_edit_refusee', {'id': echangeReq.id}) }}" class="btn btn-danger">Refusée</a>

                    {% elseif( echangeReq.statut  == "Approuvée") %}
                        <button class="btn btn-success">{{ echangeReq.statut }}</button>
                    {% else %}
                        <button class="btn btn-danger">{{ echangeReq.statut }}</button>
                    {%  endif%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
