{% extends 'lazy.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Produits</h1>
    <div id="divs">
        <input class="form-control" type="text" id="search" placeholder="🔍">
        <a style="color:#FF0000;" class="tg-btn" href="" id="idup">UP ⬆️</a>
        <a style="color:#25DD28;" class="tg-btn" href="" id="iddown">DOWN ⬇️</a>
    </div>

    <table id="t" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Propriétaure</th>
                <th>Categorie</th>
                <th>Valeur</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.user.nom }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.valeur }}</td>
                <td>
                    <img width="100" height="100" src="{{ asset('uploads/images/') }}{{ produit.image }}" >
                </td>
                <td>
                    <form method="post" action="{{ path('app_produit_delete_admin', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>

    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {

            /*begin rechercher avancee multicritéres selon sujet et staus*/
            $("#divs").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                if(value.length >= 2 || value.length == 0  )
                {
                    //    alert(value);
                    /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                    $.ajax({
                        /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                        url : "{{ path('search_prod') }}",
                        /* La méthode utilisée pour transférer les données est GET */
                        type : 'GET',
                        /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                        data: {
                            'searchValue' : value,
                        },
                        /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                        success : function(retour){
                            if(retour){
                                $('#t tbody#search').empty();
                                $.each(JSON.parse(retour), function(i, obj) {
                                    $('#t tbody#all').hide();
                                    $('#t tbody#search').append('' +
                                        '<tr>' +
                                            '<td>'+obj.id +'  </td>' +
                                            '<td>'+obj.User.name+'  </td>' +
                                            '<td>'+obj.Categorie+' </td>' +
                                            '<td>'+obj.Valeur+' </td>' +
                                            '<td>' +
                                                '<img width="100" height="100" src="{{ asset('uploads/images/') }}'+obj.Image+'" >' +
                                            '</td> ' +
                                            '<td>' +
                                                '<a href="/produit/delete/'+obj.id+'" class="btn btn-danger" onclick="return confirm('+"Are you sure you want to delete this item?"+');">Delete</a>' +
                                            '</td> ' +
                                        '</tr>');
                                });
                            }
                            else
                            {

                                $('#t tbody#all').show();
                                $('#t tbody#search').empty();
                                $('#t tbody#search').fadeIn('fast');

                            }
                        },
                    });
                    return false;
                }
            });
            /*end rechercher avancee multicritéres selon sujet et staus*/


            /*begin trie up selon id*/
            $("#idup").click(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                var value3 ="ASC";

                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_prod') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                    '<tr>' +
                                    '<td>'+obj.id +'  </td>' +
                                    '<td>'+obj.User.name+'  </td>' +
                                    '<td>'+obj.Categorie+' </td>' +
                                    '<td>'+obj.Valeur+' </td>' +
                                    '<td>' +
                                    '<img width="100" height="100" src="{{ asset('uploads/images/') }}'+obj.Image+'" >' +
                                    '</td> ' +
                                    '<td>' +
                                    '<a href="/produit/delete/'+obj.id+'" class="btn btn-danger" onclick="return confirm('+"Are you sure you want to delete this item?"+');">Delete</a>' +
                                    '</td> ' +
                                    '</tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;

            });
            /*end trie up selon id*/

            /*begin trie down selon id*/
            $("#iddown").click(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                var value3 ="DESC";

                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_prod') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('' +
                                    '<tr>' +
                                    '<td>'+obj.id +'  </td>' +
                                    '<td>'+obj.User.name+'  </td>' +
                                    '<td>'+obj.Categorie+' </td>' +
                                    '<td>'+obj.Valeur+' </td>' +
                                    '<td>' +
                                    '<img width="100" height="100" src="{{ asset('uploads/images/') }}'+obj.Image+'" >' +
                                    '</td> ' +
                                    '<td>' +
                                    '<a href="/produit/delete/'+obj.id+'" class="btn btn-danger" onclick="return confirm('+"Are you sure you want to delete this item?"+');">Delete</a>' +
                                    '</td> ' +
                                    '</tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;

            });
            /*end trie down selon id*/
        });
    </script>
{% endblock %}
